<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kang.kangtemplate.mapper.staff.StaffBasicInfoMapper">

    <select id="getStaffWithParamsByPage" resultType="com.kang.kangtemplate.model.staff.vo.StaffBasicInfoVO">
        SELECT *
        FROM KANGTEMPLATE.STAFF_BASIC_INFO
        WHERE 1 = 1
        <if test="param.staffName != null and param.staffName != ''">
            AND STAFF_NAME LIKE CONCAT('%',#{param.staffName},'%')
        </if>
    </select>

</mapper>